body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}﻿

a {
  text-decoration: none;
}

.main-header {
  color: #000000;
  background-color: #eeeeee;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.applications .button {
  background-color: #00ca74;
}

.presentations .button {
  background-color: #efc84a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.applications .button:hover,
.applications .button:focus {
  background-color: #00bc6c;
}

.presentations .button:hover,
.presentations .button:focus {
  background-color: #eab534;
}

.button:active {
  color: #e37376;
  background-color: #d7373b;
}

.applications .button:active {
  color: #4dc491;
  background-color: #00aa62;
}

.presentations .button:active {
  color: #edc265;
  background-color: #e5a722;
}

.button-filter {
  color: #000000;
  background-color: #eeeeee;
  text-decoration: none;
}

.button-filter:hover,
.button-filter:focus, {
  color: #000000;
  background-color: #dfdfdf;
}

.button-filter:active {
  color: #959595;
  background-color: #d5d5d5;
}

.button-sorting {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #b2b2b2;
}

.button-sorting:hover,
.button-sorting:focus {
  color: #666666;
}

.button-sorting:active,
.button-sorting:disabled {
  color: #000000;
}

.button-sorting img {
  opacity: 0.2;
}

.button-sorting img:hover,
.button-sorting img:focus {
  opacity: 0.5;
}

.button-sorting img:active {
  opacity: 1;
}

.product-card .button:active {
  color: #ffffff;
  background-color: #d7373b;
}

.button-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 2px;
}

.button-menu:hover,
.button-menu:focus {
  color: #000000;
  background-color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 2px;
}

.button-menu:active {
  color: #959595;
  background-color: #d5d5d5;
  border: 2px solid #d5d5d5;
  border-radius: 2px;
}

.button-menu:disabled {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 2px;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  text-decoration: none;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation a:disabled,
.user-navigation a:disabled {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.service-nerds h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.logo-brands img{
  opacity: 0.2;
}

.logo-brands img:hover,
.brands img:focus {
  opacity: 1;
}

.logo-brands img:active {
  opacity: 0.1;
}

.logo-brands {
  list-style: none;
}

.button-social {
  background-color: #e1e1e1;
}

.button-social:hover,
.button-social:focus, {
  background-color: #e74246;
}

.button-social:active {
  background-color: #d7373b;
}

.button-social img:active {
  opacity: 0.3;
}

.discount-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount-social p {
  line-height: 22px;
}

.logo-social{
  list-style: none;
}

.button-close img {
  opacity: 0.3;
}

.button-close img:hover,
.button-close img:focus {
  opacity: 1;
}

.button-close img:active {
  opacity: 0.1;
}

.write-us {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.user-name,
.user-email,
.user-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a1a1a1;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.user-name:hover,
.user-email:hover,
.user-text:hover {
  border: 2px solid #b4b9bb;
}

.user-name:focus,
.user-email:focus,
.user-text:focus {
  color: #444444;
  border: 2px solid #000000;
}

.placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a1a1a1;
}

.placeholder:focus {
  color: #444444;
}

.address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.address h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-decoration: none;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
   list-style: none;
 }

.filter .question-one,
.filter .checkbox {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter .question-one:hover,
.filter .question-one:focus,
.filter .checkbox:hover,
.filter .checkbox:focus {
  color: #283136;
}

.filter .question-one:disabled,
.filter .checkbox:disabled {
  color: #bec1c2;
}

.browser {
  opacity: 0.12;
}

.browser:hover,
.browser:focus {
  opacity: 1;
}

.site-filter ul {
  list-style: none;
}

.product-card {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #eeeeee;
}

.product-card h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

/* Сетка */

.main-header {
  width: 100%;
  margin-bottom: 80px;
}

.main-navigation {
  display: flex;
  margin-bottom: 30px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  width: 600px;
  padding: 0;
  margin-left: 200px;
  margin-right: auto;
  list-style: none;
}

.user-navigation {
  width: 180px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-navigation img {
  width: 15px;
  height: 15px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.service-nerds {
  display: flex;
  margin-bottom: 80px;
}

.websites {
  width: 300px;
}

.websites img {
  width: 300px;
  height: 146px;
}

.applications {
  width: 300px;
  margin: 0 auto;
}

.applications img {
  width: 300px;
  height: 146px;
}

.presentations {
  width: 300px;
  margin-right: 60px;
}

.presentations img {
  width: 300px;
  height: 146px;
}

.main-footer {
  margin-top: 80px;
}

.logo-social {
  padding: 0;
  margin: 0;
  list-style: none;
}
